<a href="https://colab.research.google.com/github/jcpalaciosb/Predicion_de_ventas/blob/main/Prediccion_ventas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Codigo para prediccion de ventas

In [ ]:
import pandas as pd
filename="/content/sales_predictions.csv"
df = pd.read_csv(filename)
df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [ ]:
# PARTE 2: (base)

In [ ]:
# 1) Cantidad de filas y columnas

In [ ]:
df.shape

(8523, 12)

In [ ]:
# 2) Tipo de datos en cada variable

In [ ]:
df.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

In [ ]:
#3) Revision si hay duplicados

In [ ]:
df.duplicated().sum()

0

In [ ]:
# 4) Revisando la existencia de datos faltantes

In [ ]:
df.isna().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [ ]:
# 5 ) Valores faltantes a trabajar 

# Del resultado anterior, se identifica a las categorias "Item_Weight" e "Outlet_Size" como unicas con
# valores faltantes. En ambos casos ambas cantidades 1463 y 2410 respectivamente, no supera el 
# 50% de la data y considerando que ademas contienen informacion posiblemente relevante para las
# predicciones de venta y requerimiento de artificios de agrupamiento

In [ ]:
# Revision de la Categoria "Item_Weight":
# Esta categoria es del tipo flotante y contiene el peso de los productos, esta directamente relacionada
# a los datos del producto.

In [ ]:
df["Item_Weight"].head()

0     9.30
1     5.92
2    17.50
3    19.20
4     8.93
Name: Item_Weight, dtype: float64

In [ ]:
df["Item_Weight"].value_counts()

12.150    86
17.600    82
13.650    77
11.800    76
15.100    68
          ..
7.275      2
7.685      1
9.420      1
6.520      1
5.400      1
Name: Item_Weight, Length: 415, dtype: int64

In [ ]:
df["Item_Weight"].unique()

array([ 9.3  ,  5.92 , 17.5  , 19.2  ,  8.93 , 10.395, 13.65 ,    nan,
       16.2  , 11.8  , 18.5  , 15.1  , 17.6  , 16.35 ,  9.   , 13.35 ,
       18.85 , 14.6  , 13.85 , 13.   ,  7.645, 11.65 ,  5.925, 19.25 ,
       18.6  , 18.7  , 17.85 , 10.   ,  8.85 ,  9.8  , 13.6  , 21.35 ,
       12.15 ,  6.42 , 19.6  , 15.85 ,  7.39 , 10.195,  9.895, 10.895,
        7.905,  9.195,  8.365,  7.97 , 17.7  , 19.35 ,  8.645, 15.6  ,
       18.25 ,  7.855,  7.825,  8.39 , 12.85 , 19.   ,  5.905,  7.76 ,
       16.75 , 15.5  ,  6.055,  6.305, 20.85 , 20.75 ,  8.895, 19.7  ,
        8.75 , 13.3  ,  8.31 , 19.75 , 17.1  , 10.5  ,  6.635, 14.15 ,
        8.89 ,  9.1  ,  7.5  , 16.85 ,  7.485, 11.6  , 12.65 , 20.25 ,
        8.6  , 12.6  ,  8.88 , 20.5  , 13.5  ,  7.235,  6.92 ,  8.02 ,
       12.8  , 16.6  , 14.   , 16.   , 21.25 ,  7.365, 18.35 ,  5.465,
        7.27 ,  6.155, 19.5  , 15.2  , 14.5  , 13.1  , 12.3  , 11.1  ,
       11.3  ,  5.75 , 11.35 ,  6.525, 10.3  ,  5.78 , 11.85 , 18.75 ,
        5.26 , 16.1  ,  9.5  , 13.8  , 14.65 ,  6.67 ,  6.11 , 17.2  ,
        6.32 ,  4.88 ,  5.425, 14.1  ,  7.55 , 17.25 , 12.   , 10.1  ,
        7.785, 13.15 ,  8.5  ,  7.63 ,  9.285,  7.975, 15.7  ,  8.985,
       20.35 ,  6.59 , 19.85 ,  6.26 , 18.2  ,  8.695,  7.075,  8.195,
        7.09 ,  6.095,  6.15 ,  9.395, 15.75 ,  7.475,  6.445, 19.1  ,
       15.   , 16.7  ,  7.07 ,  6.48 ,  9.695, 11.15 ,  9.6  , 20.7  ,
        5.5  ,  7.895, 17.35 ,  7.285,  6.17 , 11.395,  7.71 , 12.1  ,
       14.35 ,  8.1  ,  8.05 , 16.5  ,  6.785,  7.575,  7.47 , 15.25 ,
        7.605, 18.   , 21.2  ,  8.97 , 10.6  ,  6.865, 10.8  , 15.15 ,
       18.1  ,  6.655, 20.1  ,  7.935, 15.35 , 12.35 ,  6.85 ,  8.775,
       14.85 ,  7.84 , 12.5  ,  8.325,  5.765,  5.985, 14.3  ,  6.135,
        8.51 ,  6.65 ,  5.695,  6.36 ,  8.3  ,  7.56 ,  8.71 ,  6.695,
       14.8  , 17.75 ,  8.575,  6.57 ,  8.68 ,  5.63 ,  9.13 ,  6.715,
        5.82 ,  7.93 ,  5.   ,  7.445,  6.675,  8.18 ,  6.98 ,  7.435,
       20.6  ,  8.355,  8.975, 20.2  ,  5.655,  5.175, 20.   ,  7.67 ,
        4.785,  8.395,  6.175,  8.21 ,  5.845,  7.17 ,  8.785,  7.89 ,
        5.32 ,  5.03 ,  8.945,  6.28 ,  7.565,  9.31 ,  7.02 ,  5.46 ,
        6.13 ,  6.55 , 17.   , 16.25 ,  5.15 ,  7.865,  6.575,  7.06 ,
        5.785,  7.42 ,  6.235,  6.75 ,  5.86 ,  5.035,  6.38 ,  5.675,
       11.5  , 21.   , 21.1  ,  4.61 ,  7.   ,  6.405, 14.7  ,  7.68 ,
        8.185,  8.655, 10.85 ,  8.42 ,  7.85 ,  4.59 ,  7.51 , 11.   ,
        6.71 , 14.75 ,  7.59 ,  5.155,  6.365,  8.235,  5.365,  8.485,
        7.535,  4.92 ,  6.385,  8.26 ,  7.945,  8.63 ,  9.21 ,  6.965,
        8.905,  7.21 ,  7.3  ,  9.27 , 10.695,  6.215,  7.405,  7.72 ,
        6.115,  6.035,  6.78 , 15.3  ,  7.105,  7.52 ,  4.805,  6.425,
        7.6  ,  6.61 ,  7.325,  8.115,  5.94 ,  5.635,  7.35 ,  5.825,
        6.63 ,  7.05 ,  8.315,  6.8  ,  7.035,  8.96 ,  5.51 ,  8.43 ,
        8.27 ,  7.81 ,  6.885,  5.44 ,  5.405,  4.635, 10.65 ,  5.735,
        6.465,  8.84 ,  7.75 ,  6.765,  9.065,  7.655,  4.615,  8.76 ,
        7.1  ,  6.195,  5.615,  8.52 ,  7.26 ,  6.825,  5.325,  5.59 ,
        5.88 ,  5.19 ,  6.985,  9.06 ,  6.69 ,  8.615,  7.275,  6.96 ,
        9.17 ,  8.155,  5.73 ,  8.935,  8.92 ,  7.36 ,  7.64 ,  5.34 ,
        7.22 ,  6.615,  6.76 ,  6.3  ,  5.98 ,  8.06 ,  6.44 ,  5.095,
        8.8  ,  6.325,  7.31 ,  9.035,  9.105,  7.145,  4.905,  4.555,
        8.   ,  7.315,  6.89 ,  5.945,  6.86 ,  6.935,  6.03 ,  7.725,
        5.885,  7.155,  6.46 ,  5.48 ,  8.01 ,  5.8  ,  5.305,  6.905,
        7.96 ,  5.11 ,  8.77 ,  7.685,  8.275,  8.38 ,  8.35 ,  9.42 ,
        6.775,  6.4  ,  6.895,  5.485,  6.52 ,  8.67 ,  5.21 ,  5.4  ])

In [ ]:
# Por los datos mostrados como valores unicos anterior, un valor adecuado en este caso para 
# completar la data faltante es la mediana de la serie, por lo que se completara con la mediana
# de los valores existentes, ya que esta representa el valor que ocupa el lugar central de 
# todos los datos de una serie y no seria necesario buscar alguna otra relacion con las otras
# columnas con datos de productos
mediana = df['Item_Weight'].median()
df['Item_Weight'].fillna(mediana, inplace=True)
df['Item_Weight'].isna().sum()          # verificacion

0

In [ ]:
# Revision de la Categoria "Outlet_Size":
# Esta categoria es del tipo object y contiene el tipo de area donde se encuentra la tienda.

In [ ]:
df["Outlet_Size"].head()

0    Medium
1    Medium
2    Medium
3       NaN
4      High
Name: Outlet_Size, dtype: object

In [ ]:
df["Outlet_Size"].value_counts()

Medium    2793
Small     2388
High       932
Name: Outlet_Size, dtype: int64

In [ ]:
# En este caso, por los valores de la serie se ve que es una data alfanumerica 
# indicando los tamaños de tienda (Medium, Small y High), por lo que no
# corresponde asignar algun valor estadistico como en el caso anteior a la data
# faltante, por lo que se analizara el resto de la informacion relacionadas
# con los outlets o tiendas:

In [ ]:
# La identificacion de la tienda y el año en el que se establecio (Outlet_Identifier y 
# Outlet_Establishment_Year) son datos basicamente de referencia identificatoria con 
# mucha data que no ayudara a completar los datos

In [ ]:
# las demas categorias (Outlet_Location_Type, Outlet_Type y Item_Outlet_Sales) si podrian
# tener alguna relacion con el tamaño de la tienda como para usarlos para completar 
# la data faltante, lo que se vera a continuacion:

In [ ]:
df[["Outlet_Size","Outlet_Location_Type","Outlet_Type","Item_Outlet_Sales"]].head()

  Outlet_Size Outlet_Location_Type        Outlet_Type  Item_Outlet_Sales
0      Medium               Tier 1  Supermarket Type1          3735.1380
1      Medium               Tier 3  Supermarket Type2           443.4228
2      Medium               Tier 1  Supermarket Type1          2097.2700
3         NaN               Tier 3      Grocery Store           732.3800
4        High               Tier 3  Supermarket Type1           994.7052

In [ ]:
# Veamos las relaciones con el promedio de las ventas que son valores numericos 
df.groupby(["Outlet_Size", "Outlet_Location_Type", "Outlet_Type"])["Item_Outlet_Sales"].mean()

Outlet_Size  Outlet_Location_Type  Outlet_Type
High         Tier 3                Supermarket Type1    2298.995256
Medium       Tier 1                Supermarket Type1    2348.354635
             Tier 3                Supermarket Type2    1995.498739
                                   Supermarket Type3    3694.038558
Small        Tier 1                Grocery Store         340.329723
                                   Supermarket Type1    2277.844267
             Tier 2                Supermarket Type1    2438.841866
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
# Encabezaremos el agrupamiento con la categoria de mas valores, poniendo al final la de Tamaño

In [ ]:
df.groupby(["Outlet_Type","Outlet_Location_Type","Outlet_Size"])["Item_Outlet_Sales"].mean()

Outlet_Type        Outlet_Location_Type  Outlet_Size
Grocery Store      Tier 1                Small           340.329723
Supermarket Type1  Tier 1                Medium         2348.354635
                                         Small          2277.844267
                   Tier 2                Small          2438.841866
                   Tier 3                High           2298.995256
Supermarket Type2  Tier 3                Medium         1995.498739
Supermarket Type3  Tier 3                Medium         3694.038558
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
# parece que el tipo de locacion no ayuda mucho, asi que no lo consideraremos
# y se evaluaran tanto juntas como por separado las otras dos:

In [ ]:
df.groupby(["Outlet_Location_Type","Outlet_Size"])["Item_Outlet_Sales"].mean()

Outlet_Location_Type  Outlet_Size
Tier 1                Medium         2348.354635
                      Small          1576.192909
Tier 2                Small          2438.841866
Tier 3                High           2298.995256
                      Medium         2847.959679
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
df.groupby("Outlet_Size")["Item_Outlet_Sales"].mean()

Outlet_Size
High      2298.995256
Medium    2681.603542
Small     1912.149161
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
df.groupby("Outlet_Location_Type")["Item_Outlet_Sales"].mean()

Outlet_Location_Type
Tier 1    1876.909159
Tier 2    2323.990559
Tier 3    2279.627651
Name: Item_Outlet_Sales, dtype: float64

In [ ]:
# Se observa que los valores promedio del volumen de ventas en ambas categorias son similares
# relacionando a High con Tier 3, Medium con Tier 1 y Small con Tier 2
# por lo tanto se completara los datos faltantes de la categoria Outlet_Size con 
# el valor High, Medium o Small segun la tabla siguiente:
# High, si el valor de ventas correspondiente esta entre 2,500 y mas dolares (similar a Tier 2)
# Medium si el valor promedio de ventas esta entre 2,000 y 2,500)
# Small si el valor del promedio de ventas correspondiente al indice de Outlet_Location_Type esta entre 0 y 2000 dolares

In [ ]:
largo = len(df["Outlet_Location_Type"])
x=0
for x in range(0,largo):
  valor = df["Outlet_Size"][x]
  ventas=df["Item_Outlet_Sales"][x]
  anterior=valor
  if valor=="High" or valor=="Medium" or valor=="Small":
     valor=anterior       # instruccion para poder usar el else 
  else:                   # para trabajar los datos faltantes
    if ventas<2000:
      valor="Small"
    elif ventas<=2500:
      valor="Medium"
    else:
      valor="High"
  df["Outlet_Size"]=df["Outlet_Size"].replace(anterior,valor)
  x=x+1

In [ ]:
# revisamos si ya no hay datos faltantes:
df["Outlet_Size"].isna().sum()

0

In [ ]:
# 6) Arreglo de alguna categoría inconsistente de datos:

In [ ]:
df["Item_Identifier"].unique()

array(['FDA15', 'DRC01', 'FDN15', ..., 'NCF55', 'NCW30', 'NCW05'],
      dtype=object)

In [ ]:
df["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular', 'low fat', 'LF', 'reg'], dtype=object)

In [ ]:
# Esta categoria tiene inconsistencia en los valores low fat, LF y reg que se procede a corregir

In [ ]:
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("low fat","Low Fat")
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("LF","Low Fat")
df["Item_Fat_Content"] = df["Item_Fat_Content"].replace("reg","Regular")

In [ ]:
# comprobacion:
df["Item_Fat_Content"].unique()

array(['Low Fat', 'Regular'], dtype=object)

In [ ]:
# 8) Obtencion de las estadísticas de una categoria resumidas para cada uno (mínimo, máximo y media)

In [ ]:
df["Item_Outlet_Sales"].describe()

count     8523.000000
mean      2181.288914
std       1706.499616
min         33.290000
25%        834.247400
50%       1794.331000
75%       3101.296400
max      13086.964800
Name: Item_Outlet_Sales, dtype: float64